* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #042104;
}

section .container {
    display: flex;
}

section .container .circle {
    position: relative;
    width: 150px;
    height: 150px;
}

section .container .circle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

section .container .circle span::before {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
    background: #00ff0a;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff0a,
        0 0 10px #00ff0a,
        0 0 10px #00ff0a,
        0 0 10px #00ff0a,
        0 0 10px #00ff0a;
}